<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'line' %}">Linee Macchine</a>
            <a href="{% url 'contacts' %}">Contatti</a>
            <a href="{% url 'manual' %}">Manuale Allarmi</a>
            <a href="{% url 'logout' %}">Log out</a>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>