{% load static %}
{% load alarm_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Page</title>
    <link rel="stylesheet" href="{% static 'css/manual.css' %}">
</head>
<body>
<header>
    <div class="header">
        <nav>
            <div>

                <a href="{% url 'manual' %}">Manuale Allarmi</a>
                <a href="{% url 'logout_view' %}">Log out</a>
            </div>
            <form action="{% url 'manual' %}" method="get">
                <select name="language" id="language" onchange="">
                    {% for key, label in language_dict %}
                        <option value="{{ key }}" {% if key == chosen_language %} selected {% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </nav>
    </div>
</header>
<main>
    <div class="choose_action">
        <label for="#">
            {% if messages %}
                    {% for message in messages|slice:":1" %}
                        <p style="color: green;">{{ message }}</p>
                    {% endfor %}
            {% endif %}
        </label>
    </div>
    
    <div class="text_area">
        <!-- Form di ricerca -->
        <form action="{% url 'manual' %}" method="get">
            {{ search_form.search_text }}
            <button type="submit" value="search">Search</button>
            <button type="submit" value="all" name="all">All</button>
        </form>
        <!-- Form di inserimento dati -->
        <div class="input_save">
            <div class="input_area">
                <form action="{% url 'manual' %}" id="form-lista" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <button type="submit" name="action" value="download" id="CheckBoxList" onchange="sendCheckBoxList()">Download Database File</button>
            </div>
            <div>
                    <!-- Tabella allarmi -->
                    <table id="alarm_table">
                        <thead>
                            <tr>
                                <th>Allarme </th>
                                <th>Soluzione </th>
                                <th>Immagine </th>
                                <th>Video </th>
                            </tr>
                        </thead>
                        {% for alarm in alarms_filtered %}
                        <tbody>
                            <tr>
                                <td>{{ alarm.titolo }} <input type="checkbox" name="aa_checkBox" id="aa_checkBox_{{alarm.pk}}" value={{ alarm.titolo }} onchange="CheckBoxClick(this)"></td>
                                <td>{% if alarm|getattr_field:chosen_language %} {{ alarm|getattr_field:chosen_language }} {% else %} Nessun Testo trovato {% endif %}</td>
                                <td>
                                    {% if alarm.img %}
                                        <img src="{{ alarm.img.url }}" width="300">
                                    {% else %}
                                        Nessuna Immagine trovata
                                    {% endif %}
                                </td>
                                <td>
                                    {% if alarm.video %}
                                        <video width="400" controls>
                                            <source src="{{ alarm.video.url }}" type="video/mp4">
                                        </video>
                                    {% else %}
                                        Nessun Video trovato
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Nessun Allarme Trovato</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>