{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Manager Software Signup Page</h1>
        </div>
    </header>
    <main>
        <div class="auth-container">
            <h2>Registrazione</h2>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password1" placeholder="Password" required>
                <input type="password" name="password2" placeholder="Conferma Password" required>
                <button type="submit">Registrati</button>
            </form>
            <p>Hai già un account? <a href="{% url 'login' %}">Accedi</a></p>
        </div>
        <!-- Messaggi -->
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </main>
    <footer></footer>
</body>
</html>
