/* RESET BASE */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f8;
    color:#333;
    line-height:1.5;
}

/* HEADER */

header{
    background:#2c3e50;
    padding:12px 25px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* MENU */

nav div{
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:15px;
    font-weight:500;
}

nav a:hover{
    text-decoration:underline;
}

/* LANGUAGE SELECT */

header select{
    padding:6px 10px;
    border-radius:4px;
    border:none;
    font-size:14px;
}

/* MAIN */

main{
    padding:30px;
    max-width:2000px; /* Questo campo gestisce la grandezza della label bianca dove c'è la tabella*/
    margin:auto;
}

/* MESSAGE */

.choose_action{
    text-align:center;
    margin-bottom:20px;
}

.choose_action p{
    font-weight:bold;
}

/* SEARCH BAR */

.text_area form{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.text_area input[type="text"]{
    padding:9px;
    width:300px;
    border-radius:5px;
    border:1px solid #ccc;
}

.text_area button{
    padding:9px 16px;
    border:none;
    border-radius:5px;
    background:#3498db;
    color:white;
    cursor:pointer;
}

.text_area button:hover{
    background:#2980b9;
}

/* BOX FORM DATABASE */

.input_save{
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
}

/* INPUT AREA */

.input_area{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr; /* 1fr [4 colonne]: è la frazione(percentuale, es: 25% in questo caso) dello spazio che la colonna occupa */
    /*grid-template-rows: 1fr 1fr;*/
    gap: 30px;
    margin-bottom:25px;
}


#solution_text {
    grid-column: span 3;  
    width: 100%;           /* occupa tutta la colonna */
    min-height: 100px;     /* altezza iniziale più grande */
    padding: 15px;
    font-size: 14px;       /* testo più leggibile */
    line-height: 1.6;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;      /* permette di ridimensionare in verticale */
}


.input_area input{
    padding:10px;
    width: 400px;
    border-radius:5px;
    border:1px solid #ccc;
}

/* BUTTONS */

.input_area button{
    grid-column:span 1;
    padding:10px;
    border:none;
    border-radius:6px;
    background:#2ecc71;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.input_area button:hover{
    background:#27ae60;
}

/* TABLE */

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
    background:white;
    font-size:14px;
}

th, td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:left;
    vertical-align:top;
}

th{
    background:#3498db;
    color:white;
}

tr:hover{
    background:#f1f1f1;
}

/* MEDIA */

img{
    max-height: 300px;
    max-width:220px;
    border-radius:6px;
}

video{
    max-height:280px;
    max-width:280px;
    border-radius:6px;
}

/* FOOTER */

footer{
    margin-top:40px;
    padding:20px;
    text-align:center;
    color:#777;
    font-size:13px;
}